/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #009579;
}

.alert {

    width: 50%;
}

.input-box {
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.details-box {
    margin-top: 50px;
    width: 90%;
}
.table {
    background-color: transparent !important;
}
.table th,
.table td {
    background: #009579 !important;
    border-color: #009579 !important;
}

.search-form {

    width: 100%;
    height: 100%;
}

.search-icon,
.search-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.search-input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.search-button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: none;
}

.search-button:active {
    transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .search-icon {
        left: 12px;
        font-size: 25px;
    }

    .search-input {
        padding: 0 112px 0 50px;
    }

    .search-button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}
